<p>Búsqueda de pokemon's</p>

<div [formGroup]="formPokemon">
    <span>Types: </span>
    <select name="" id="" (change)="this.getPokemonsByType()" formControlName="type">
        <option *ngFor="let type of pokemonTypes" [value]="type.url">{{type.name}}</option>
    </select>
</div>
<br>
<div class="row">
    <div class="col-3 text-center" *ngFor="let pokemon of pokemons" style="display: inline-block; margin:auto">
        <img *ngIf="pokemon.sprites.front_default" [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
        <br>
        <span>{{pokemon.order}} : {{pokemon.pokemon.name}}</span>
    </div>

</div>

<br>